<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite">
<listeners>
<listener class-name="org.saranLiveProjects.Listeners" />
</listeners>
<test name="test">
<classes>
<class name="org.saranLiveProjects.ecommerce_4"/>
</classes>
</test>
</suite>